
<%= form_tag('/posting', method: :post) do %>
  <h3>
    最近飲んだお茶
  </h3>
  <p>お茶の種類<br/>
    <input type="radio" name="category_id" value="0">紅茶
    <input type="radio" name="category_id" value="1">緑茶
    <input type="radio" name="category_id" value="2">中国茶
    <input type="radio" name="category_id" value="3">その他
  </p>
  <p>名前<input placeholder="茶葉の名前" type="text" name="name"><br/></p>
  <p>茶葉の量<input placeholder="量" type="integer" name="gram"><br/></p>
  <p>温度<input placeholder="温度" type="integer" name="temperature"><br/></p>
  <p>抽出時間<input placeholder="抽出時間" type="integer" name="time"><br/></p>
  <p> できごと<textarea placeholder="どんな時に誰と飲んだか。どういう話をしたか" type="text" name="experience"></textarea><br/></p>
  <p>お茶に対するコメント<input placeholder="コメント" type="text" name="coment"><br/></p>
  <input type="submit" value="SENT">
<% end %>
