<header>
  <div class="nav_bar clearfix">
    <ul>
      <li>
        <h1>
          <div class="logo"><%= link_to "Tea Tree", "/" %></div>
        </h1>
      </li>
    </ul>
  </div>
</header><!-- /header -->
<h2>コメントしました！</h2>
<%= link_to "戻る", black_path() %>

