<header>
  <div class="clearfix">
    <ul>
      <li>
        <h1>
          <div class="logo"><%= link_to "Tea Tree", "/" %></div>
        </h1>
      </li>
        <div class="submit_review">
          <%= link_to "投稿する", "/posting/new" %>
        </div>
      </li>
      <li>
        <div class="log_in prefix">
          <%= link_to "ログイン", new_user_session_path %>
        </div>
      </li>
      <li>
    </ul>
  </div>
</header><!-- /header -->
<div class="content">
  <%= link_to 'アッサム', '/posting' %>
  ダージリン

</div>