// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.logo {
  float: left;
}

.submit_review {
  float: right;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

li {
  list-style: none;
}