// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

header {
  background-color: gray;
  padding-bottom: 15px;
}

body {
  padding: 10px;
}

.logo {
  float: left;
}

.submit_review {
  font-size: 24px;
  float: right;
  padding: 10px;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

li {
  list-style: none;
}

.log_in {
  float: right;
  font-size:  24px;
  padding: 10px;
}