.nav_bar {
  width: auto;
  width: 100%;
  background-color: #FF9900;
  color: #c03;
  margin: auto;
}

.nav_bar a {
  color: #c03;
}

.name {
  float: right;
  margin-right: 5px;
}

li {
  list-style: none;
}

.logo {
  float: left;
}

.submit_review {
  float: right;
  font-size: 16px;
  padding: 5px;
}

.log_in {
  float: right;
  font-size: 16px;
  padding: 5px;
}

.triming {
  width: 100%;
  height: 80%;
  overflow: hidden;
}

footer {
  background-color: #FF9900;
  color: #c03;
  text-align: center;
  font-size: 18px;
  height :40px;
  min-width:1300px;
  margin: auto;
}

.center {
  text-align: center;
}

.content {
  width:1180px;
  background-color: #deb887;
  margin: 0 auto;
}

.thumbnail {
  background-color: #f5f5f5;
}

.float_left {
  float: left;
}

.float_right {
  float: right;
}

.clearfix:after {
  content:"";
  display: block;
  clear: both;
}

.posting_form p {
 
  width:280px;
}

.green {
  color: black;
  background-color: #009A46;
  border-color: #009A46;
}

.green:hover {
  background-color: #FF9900;
  border-color: #FF9900;
}
.mypage_edit {
  margin: 20px;
}

.display_none {
  display: none;
}

.mypage {
  margin-bottom: 15px;
}