.nav_bar {
  width: auto;
  background-color: #00ff7f;
}

.name {
  float: right;
  margin-right: 5px;
}

li {
  list-style: none;
}

.logo {
  float: left;
}

.submit_review {
  float: right;
  font-size: 16px;
  padding: 5px;
}

.log_in {
  float: right;
  font-size: 16px;
  padding: 5px;
}

.triming {
  width:390px;
  height: 270px;
  overflow: hidden;
}

footer {
  background-color: #556b2f;
  color: white;
  text-align: center;
  font-size: 18px;
  height :40px;
}